.items {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 400px;
  position: absolute;
  right: 0;
  background-color: #eaeaea;
  z-index: 99999;
  box-shadow: 0 0 20px #0000002e; // transition: 2s;
  animation: mymove 0.2s forwards;
  -webkit-animation: mymove 0.2s forwards;
  .pageLoading {
    background-color: #eaeaea;
  }
}

@keyframes mymove {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes mymove {
  from {
    transform: translateX(400);
  }
  to {
    transform: translateX(0);
  }
}
