@import "@/pages/common.scss";
$navItemWidth: 142px; // 一页最多显示5个图标,750
.nav {
    width: s(710px);
    position: relative;
    height: s(46px);
    margin: 0 auto;
    .navSlide {
        position: absolute;
        @extend %flex;
        height: 100%;
        // width: 0;
        // transform:translateX(200px);
        transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
        .slideBar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: s(4px);
            .slideBarItem {
                transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
                width: s($navItemWidth);
                height: 100%;
                .slideitem {
                    height: 100%;
                    // 滑条宽度
                    width: s(80px);
                    margin: auto;
                    background-color: $themeColor;
                }
            }
        }
    }
    .navCtrl {
        display: none;
    }
    .navCtrl:checked + .navItem {
        color: $themeColor;
    }
    .navItem {
        text-align: center;
        @extend %singleEllip;
        width: s($navItemWidth);
        height: 100%;
    }
}
