<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edbox-mobile-widget</title>
    <script src="<%= context.publicPath %>js/flexible.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script>
        ;(function() {
            window.designWidth = 75;
        })();
    </script>
    <script src="http://component.edbox-qa.101.com/libs/Edbox/js/Edbox.js"></script>
    <script src="http://component.edbox-qa.101.com/libs/Edbox_Message/js/Edbox_Message.js"></script>
</body>
</html>