<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5,user-scalable=no">
    <title>Edbox</title>
</head>
<body >

<div id="root"></div>
<script src="http://component.edbox-qa.101.com/libs/Edbox/js/Edbox.js?v=1"></script>
<script src="http://component.edbox-qa.101.com/libs/Edbox/js/Edbox.Ext.js?v=1"></script>
<script src="http://component.edbox-qa.101.com/libs/Edbox_Message/js/Edbox_Message.js?v=1"></script>
<script src="http://component.edbox-qa.101.com/libs/Edbox_NDR/js/Edbox_NDR.js?v=1"></script>
<script src="http://component.edbox-qa.101.com/libs/Edbox_Editor/js/Edbox_Editor.js?v=1"></script>
<script src="http://component.edbox-qa.101.com/libs/Edbox_Resource/js/Edbox_Resource.js?v=1"></script>
</body>

</html>
