@import "common.scss";
// 效果
// 侧边栏悬浮
%hoverStyle {
  background-color: $colorBlue;
  color: white;
}
$ts1: all 0.3s ease-in-out;
header {
  transition: $ts1;
  width: 100%;
  height: 35px;
  z-index: 999;
  font-size: 22px;
  color: rgb(44, 62, 80);
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid rgb(234, 236, 239);
}
.sideNav {
  transition: $ts1;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 35px;
  width: 20%;
  height: 1000px;
  padding: 10px 5px;
  @extend %flex_column;
  .ctrlNav {
    display: none;
  }
  .ctrlNav:checked + .navBox {
    @extend %hoverStyle;
  }
  .navBox {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 60px;
    @extend %flex;
    // &:hover {
    //   @extend %hoverStyle;
    // }
    // .pulldown {
    //   position: absolute;
    //   top: 50%;
    //   transform: translate(10px,-50%);
    //   // translate: (-50%,-50%);
    //   border: 10px solid black;
    //   border-radius: 2px;
    //   border-bottom: none;
    //   border-left-color: transparent;
    //   border-right-color: transparent;
    // }
  }
}
.content {
  transition: $ts1;
  position: absolute;
  right: 0;
  top: 35px;
  width: 80%;
  height: 1000px;
  padding: 20px 20px;
  background-color: rgba(128, 128, 128, 0.1);
}
.lineAndPic {
  @extend %flex_column;
  align-items: flex-start;
  .line {
    color: blue;
  }
  img {
    display: block;
    margin-top: 20px;
  }
}
.multiline {
  font-size: 16px;
  line-height: 32px;
}
h2 {
  margin-bottom: 10px;
}
p {
  margin-bottom: 5px;
}

// 代码区
.codeDiv {
  margin: 20px 0;
  color: white;
  background-color: #282c34;
  border-radius: 6px;
  padding: 10px 15px;
}
.codeLine {
  .yellow {
    color: #f08d49;
  }
}
// 注释区
.quoteDiv {
  color: #999;
  border-left: 0.25rem solid #dfe2e5;
  font-size: 18px;
  padding: 10px 15px;
  margin: 20px 0; 
}
.quoteLine {
}

.iframeDiv {
  position: relative;
  height: 100%;
  .modal {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: white;
    @extend %flex;
  }
  .iframePage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
}

.dnone {
  display: none;
}
.ctrlAnimate ~ .sideNav {
  left: 0;
}
.ctrlAnimate:checked ~ .sideNav {
  left: -20%;
}
.ctrlAnimate ~ header {
  top: 0;
}
.ctrlAnimate:checked ~ header {
  top: -35px;
}
.ctrlAnimate ~ .content {
  top: 35px;
  width: 80%;
}
.ctrlAnimate:checked ~ .content {
  top: 0;
  width: 100%;
}
%ctrlCommon{
  z-index: 999;
  // pointer-events: none;
}
.upctrl {
  @extend %ctrlCommon;
  position: fixed;
  top: 0;
  left: 0;
  height: 20%;
  width: 100%;
}
.leftctrl {
  @extend %ctrlCommon;
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
}
.downctrl {
  @extend %ctrlCommon;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
}
// .picDiv{
//   border-radius:
// }
