@import "@/pages/common.scss";
.test {
    position: fixed;
    overflow: hidden;
    color: red;
    z-index: 999;
    // bottom: s(200px);
    bottom: 50vh;
    left: 0;
    width: 100%;
    height: s(600px);
    @extend %flex_center;
    flex-direction: column;
    text-align: center;
    li {
        width: 100%;
        padding: s(10px) s(40px);
        border: 1px solid black;
    }
    input {
        text-align: center;
    }
    .upload {
        @extend %flex_center;
        & {
            border: 5px dashed #ccc;
            width: 100%;
            height: s(200px);
        }
        &.hover {
            border: 5px dashed #333;
        }
    }
    .testlog {
        position: relative;
        width: 100%;
        height: s(400px);
        overflow: scroll;
        span {
            color: red;
            transform-origin: center;
            transform: rotate(45deg);
            border-radius: 50%;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 10px;
            @extend %flex_center;
            line-height: 20px;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid red;
        }
        .log {
            width: 100%;
            background-color: #fff;
        }
    }
}
