<!--产品演示-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>约约出行</title>
    <link rel="stylesheet" href="public/animate.css">
    <link rel="stylesheet" href="public/common.css">
    <link rel="stylesheet" href="public/display.css">
       <script src="public/display.js"></script>
       <script src="public/lunbo.js"></script>
       <script src="public/slide.js"></script>
</head>
<body>
<div>
    <%- include component/header.ejs %>
    <!-- main.ejs里面涉及的模块还需修改-->
    <%- include component/main.ejs %>
    <%- include component/footer.ejs %>
</div>
</body>
</html>
