<div>
  <h2>{{ title }}</h2>
  <div class="changeTitle">
    <input
      type="text"
      [(ngModel)]="changedTitle"
      (keyup)="cgTitle(changedTitle)"
    /><span class="change" (click)="cgTitle(changedTitle)">修改</span>
  </div>
  <div class="addBox">
    <input
      type="text"
      [(ngModel)]="todo"
      (keyup)="$event.keyCode === 13 && newItem(todo)"
    /><span class="add" (click)="newItem(todo)">新增</span>
  </div>
  <ul class="items">
    <li class="item" *ngFor="let item of list">
      <span class="txt">{{ item.name }}</span
      ><span class="del" (click)="delItem(item)">删除</span>
    </li>
  </ul>
</div>
