<!--尾部-->
<link rel="stylesheet" href="../public/footer.css">
<div class="footer border-box">
    <div class="body flex">
        <div class="left flex">
            <div class="item flex">
                <div class="label f14 color-white">功能</div>
                <ul>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">司乘体验</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">核心调度</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">风控体系</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">安全保障</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">营销工具</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">管理系统</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">考核体系</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">商业智能</a>
                    </li>
                </ul>
            </div>
            <div class="item flex">
                <div class="label f14 color-white">服务</div>
                <ul>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">服务标准</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">服务项目</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">服务流程</a>
                    </li>
                </ul>
            </div>
            <div class="item flex">
                <div class="label f14 color-white">疑问</div>
                <ul>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">售前支持</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">售中跟进</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">售后服务</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">运营咨询</a>
                    </li>
                </ul>
            </div>
            <div class="item flex">
                <div class="label f14 color-white">关于</div>
                <ul>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">公司简介</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">发展历程</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">企业理念</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">企业资质</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">团队风采</a>
                    </li>
                    <li class="f14 flex aic">
                        <a class="color-666" href="">团队风采</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="f14 color-white">联系我们</div>
            <div class="imgBox flex">
                <img class="code" src="http://www.yueyuechuxing.cn/resources/yueyueche/images/munan_h5.jpg" alt="">
                <div class="f14 msg flex color-white">133-1370-4610<span class="color-666">（周一至周日，节假日不休8：00-24：00）</span></div>
            </div>
            <div class="address f14 color-666">地址：厦门市思明区塔埔东路167号7号楼18楼(观音山国际商务营运中心)</div>
        </div>
    </div>
    <div class="foot f12 color-white flex aic jcc address">
        @厦门千夏软件科技有限公司 SummerSoft Technology (Xiamen) Co.,LTD www.yueyuechuxing.cn 版权所有 闽ICP备14017541号-4
    </div>
</div>
