.dnone {
  display: none; }

img {
  height: 100%;
  width: auto; }

body {
  background: #006cff; }

.mainCenter {
  width: 1060px;
  margin: 0 auto; }
  .mainCenter .banner {
    position: relative;
    color: white;
    width: 100%;
    height: 560px; }
    .mainCenter .banner .bannerText {
      position: absolute;
      transform: translate(0px, 268px); }
      .mainCenter .banner .bannerText .subTitle {
        text-align: center;
        line-height: 56px;
        height: 56px;
        font-size: 40px;
        text-align: left; }
      .mainCenter .banner .bannerText .subInfo {
        margin-top: 20px;
        height: 56px;
        font-size: 16px;
        line-height: 26px; }
    .mainCenter .banner .bannerPic {
      position: absolute;
      right: 0px;
      top: 107px; }

.lunbo {
  height: 1196px;
  background: white; }
  .lunbo input:nth-child(1):checked ~ .tabTerms .tabTerm:nth-child(1) {
    color: white;
    background-image: linear-gradient(-90deg, #3484ff 0%, #3458ff 100%); }
  .lunbo input:nth-child(1):checked ~ .mainCenter div:nth-child(1) {
    display: block; }
  .lunbo input:nth-child(2):checked ~ .tabTerms .tabTerm:nth-child(2) {
    color: white;
    background-image: linear-gradient(-90deg, #3484ff 0%, #3458ff 100%); }
  .lunbo input:nth-child(2):checked ~ .mainCenter div:nth-child(2) {
    display: block; }
  .lunbo input:nth-child(3):checked ~ .tabTerms .tabTerm:nth-child(3) {
    color: white;
    background-image: linear-gradient(-90deg, #3484ff 0%, #3458ff 100%); }
  .lunbo input:nth-child(3):checked ~ .mainCenter div:nth-child(3) {
    display: block; }
  .lunbo input:nth-child(4):checked ~ .tabTerms .tabTerm:nth-child(4) {
    color: white;
    background-image: linear-gradient(-90deg, #3484ff 0%, #3458ff 100%); }
  .lunbo input:nth-child(4):checked ~ .mainCenter div:nth-child(4) {
    display: block; }
  .lunbo input:nth-child(5):checked ~ .tabTerms .tabTerm:nth-child(5) {
    color: white;
    background-image: linear-gradient(-90deg, #3484ff 0%, #3458ff 100%); }
  .lunbo input:nth-child(5):checked ~ .mainCenter div:nth-child(5) {
    display: block; }
  .lunbo .tabTerms {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 82px;
    height: 88px;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1); }
    .lunbo .tabTerms .tabTerm {
      margin: auto 0;
      color: #3069ff;
      background-color: white;
      width: 284px;
      text-align: center;
      line-height: 68px;
      height: 68px;
      font-size: 20px;
      border-radius: 16px; }
      .lunbo .tabTerms .tabTerm:hover {
        cursor: pointer; }

.term input:first-of-type:checked ~ .arrows .pl {
  border-color: gray;
  opacity: 0.4; }

.term input:last-of-type:checked ~ .arrows .pr {
  border-color: gray;
  opacity: 0.4; }

.slideBox .arrows {
  position: absolute;
  top: 305px;
  display: flex;
  justify-content: space-between;
  bottom: 150px;
  width: 1060px;
  height: 60px; }
  .slideBox .arrows .circle, .slideBox .arrows .arrowLeft, .slideBox .arrows .arrowRight {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.1); }
  .slideBox .arrows .arrow, .slideBox .arrows .arrowLeft .pl, .slideBox .arrows .arrowRight .pr {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translate(22px, 22px) rotate(45deg);
    border-left: 3px solid #006cff;
    border-bottom: 3px solid #006cff; }
  .slideBox .arrows .arrowLeft {
    left: 6px; }
  .slideBox .arrows .arrowRight {
    right: 6px; }
    .slideBox .arrows .arrowRight .pr {
      transform: translate(18px, 22px) rotate(-135deg); }

.slideBox .dots {
  position: absolute;
  bottom: 100px;
  display: flex !important;
  justify-content: center;
  width: 100%; }
  .slideBox .dots .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #3a70f3;
    opacity: 0.2;
    margin: 0 30px; }

.slideBox .picBox {
  margin: 21px auto 0;
  width: 896px; }

.term2 .slideArea {
  margin-top: 80px; }
