@import "@/pages/common.scss";
$modalBgGray: rgb(148, 148, 148);
$modalChoseBdColor: rgb(153, 153, 153);
$modalBdCommon: 1px solid $modalChoseBdColor;
$modalChoseConfirmColor: rgb(0, 122, 255);
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    // 穿透度
    .curtain {
        opacity: 0.8;
        background-color: $modalBgGray;
        width: 100vw;
        height: 100vh;
    }
    .msgBox {
        z-index: 990;
        @extend %common-center;
        border-radius: s(20px);
        width: s(540px);
        height: s(286px);
        background-color: #fff;
        .hint {
            text-align: center;
            margin: s(30px) s(40px);
            height: s(136px);
            width: s(480px);
            overflow: hidden;
            @extend %flex_center;
            .hintLine {
                font-size: s(24px);
                display: -webkit-box;
                text-overflow: ellipsis;
                white-space: break-word;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
            }
        }
        .chose {
            @extend %flex;
            text-align: center;
            height: s(90px);
            width: 100%;
            border-top: $modalBdCommon;
        }
        .left {
            color: $modalChoseBdColor;
            height: 100%;
            line-height: s(90px);
            width: calc(50% - 1px);
        }
        .right {
            color: $modalChoseConfirmColor;
            font-weight: bold;
            height: 100%;
            line-height: s(90px);
            width: calc(50% + 1px);
            border-left: $modalBdCommon;
        }
    }
}
