%themeColor {
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #0083b0,
        #00b4db
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #0083b0,
        #00b4db
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
%cmBasic {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
%btnHover {
    cursor: pointer;
    &:hover {
        @extend %themeColor;
        color: #fff;
    }
}
%cmBtn {
    @extend %cmBasic;
    @extend %btnHover;
}


