@import "@/pages/common.scss";
$searchBarShadow: 0 0 10px rgba(0, 0, 0, 0.2);
.main {
    width: 100%;
    height: s(100px);
    @extend %flex_center;
    .searchBar {
        background-color: #fff;
        position: relative;
        height: s(60px);
        border-radius: s(30px);
        width: s(710px);
        box-shadow: $searchBarShadow;
    }
    .searchIcon {
        position: absolute;
        width: s(40px);
        height: s(40px);
        left: s(20px);
        @extend %v-middle;
        @extend %img-width;
    }

    .inputArea {
        position: absolute;
        width: s(540px);
        height: s(60px);
        // height: 100%;
        left: s(80px);
        line-height: s(60px);
        font-size: 0;
        vertical-align: middle;
        @extend %v-middle;
        input {
            font-size: s(32px);
            border: none;
            vertical-align: middle;
            width: 100%;
        }
    }
    .cancelBox {
        position: absolute;
        width: s(40px);
        height: s(40px);
        right: s(20px);
        @extend %v-middle;
        @extend %img-width;
        // line-height: s(40px);
        // font-size: s(40px);
        // background-color: rgb(204, 204, 204);
        // border-radius: 50%;
        // top: 50%;
        // transform: translateY(-50%) rotate(45deg);
        // transform-origin: center center;
    }
}
